*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #222;
    height: 100%;
}

.container-canvas{
    height: 100dvh;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.game{
    background: #2ca52c;
}