@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

/*
Recordatorio
Cinzel para titulos, nombre capitulos, nombres personajes
Merriweather para Dialogos, Descripciones de historia, eventos
Roboto Slab para Botones, Tooltips, Estadisticas
*/

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #222;
    height: 100%;
}

.stats{
    align-content: center;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    width: 100px;
    height: 40px;
    background: rgb(32, 21, 21);
}

.stats>span{
    justify-self: center;
}

.container-canvas {
    height: 100dvh;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.game {
    background: #2ca52c;
}

.dialog-box {
    display: none;
    width: 640px;
    height: 95px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8.4%;
    background-color: rgb(26, 179, 206);
}

.dialog-box>p{
    font-family: "Merriweather", serif;
}